body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:black;
    background-size: cover;
}
button{
    width: 10rem;
    height: 10rem;
    border-radius: 40px;
    font-weight: bold;
    font-size: xx-large;
}
h1{
    color: rgb(129, 176, 218);
}
#code{
    color: black;
}
#ind{
    display: flex;

}
.indice{
    padding: 1rem;
}
#resultat{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 25px;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(129, 176, 218);
}
#code:hover{
    color: rgb(54, 52, 52);
}
header ul, footer ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    margin-top: 2rem;
}

header ul li, footer ul li {
    width: 40px;
    height: 40px;
    background: var(--color);
    border-radius: 50%;
    animation: grow 1.6s ease-in-out infinite;
    animation-delay: var(--delay);
    box-shadow: 0 0 50px var(--color);
}

@keyframes grow {

    0%,
    40%,
    100% {
        transform: scale(0.2);
    }

    20% {
        transform: scale(1);
    }

}

@media  (max-width: 5020px){
    button{
        width: 6rem;
        height: 6rem;}
}